#game-page__wrapper {
    display: grid;
    grid-template-areas:
        'lineNumber result'
        '0 source'
        '2 check_btn'
        '1 btn';
    grid-row-gap: 20px;
    grid-column-gap: 5px;
    justify-items: center;
    #next-btn {
        cursor: pointer;
        grid-area: btn;
        background-color: rgb(168, 154, 136);
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 20px;
        width: 10rem;
        &:hover {
            background-color: rgb(109, 99, 87);
        }
        &:disabled {
            background-color: #cccccc;
            color: #ffffff;
        }
    }
    #check-btn {
        grid-area: check_btn;
        cursor: pointer;
        background-color: rgb(168, 154, 136);
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 20px;
        width: 10rem;
        &:hover {
            background-color: rgb(109, 99, 87);
        }
        &:disabled {
            background-color: #cccccc;
            color: #ffffff;
        }
    }
}
#result-block {
    grid-area: result;
    width: 30rem;
    justify-content: flex-start;
    border: 2px solid rgb(168, 154, 136);
}

#source-block {
    display: flex;
    justify-content: flex-start;
    grid-area: source;
    border: 2px solid rgb(168, 154, 136);
    width: 30rem;
}
.word-card {
    display: flex;
    align-items: center;
    border: 1px solid rgb(168, 154, 136);
    background-color: #f0f0f0;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.word-card:hover {
    background-color: #ddd;
}
.word-card.moving {
    opacity: 0.5;
    transform: scale(1.1);
    transition: all 0.5s ease;
}
#line-number-block {
    grid-area: lineNumber;
    justify-items: center;
    align-items: center;
}
