.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    header {
        display: flex;
        width: 100%;
        position: fixed;
        top: 0;
        justify-content: flex-end;
        padding: 20px;
    }
    button {
        cursor: pointer;
        background-color: rgb(168, 154, 136);
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 20px;
        &:hover {
            background-color: rgb(109, 99, 87);
        }
    }
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        .greeting {
            color: rgb(35, 78, 78);
            font-weight: 800;
            margin-top: 3rem;
            animation-name: fadeIn;
            animation-duration: 2.5s;
            span {
                font-size: 1.5rem;
            }
        }
        h1 {
            color: rgb(110, 99, 84);
            font-weight: 700;
            margin-bottom: 1rem;
            font-style: italic;
        }
        p {
            color: rgb(126, 114, 101);
            font-weight: 400;
            font-style: oblique;
            margin-bottom: 1rem;
            span {
                font-weight: 700;
                margin: 1rem 0 1rem 0;
            }
        }
    }
}
