@import '../src/app/components/loginForm/login';
@import '../src/app/components/startPage/startPage';
@import '../src/app/components/gamePage/gamePage';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    scroll-behavior: smooth;
    max-width: 1960px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper {
    background-image: url('../src/images/start_page_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
